nav {
    overflow: hidden;
    padding-top: 30px !important; 
    padding-bottom: 20px !important; 
    padding-left: 70px;
    position: fixed !important;
    top: 0;
    width: 100%;
    transition: background-color 0.4s ease-out;
    z-index: 10;
}

/* nav button {
    display: none;
} */

nav a {
    display: inline-block;
    color: #ffffff;
    padding: 14px 16px;
    font-size: 20px;
    left: 0%;
    background-image: linear-gradient(to right, #266bec, #57c0e3);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: background-size .5s ease;
}

nav div ul {
    padding-top: 15px;
    display: flex;
    list-style: none;
}

nav div li {
    padding-right: 25px;
}

nav div a {
    text-transform: capitalize;
    text-decoration: none;
}

nav a.active {
  color: #57c0e3;
}

nav a:hover {
    color: #266bec;
    text-decoration: none;
}

nav.scroll1 {
    background-color: #ebebebfe;
    color: #ffffff;
    transition: background-color 0.4s ease-out;
    transition: padding .5s ease-out;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.4);
}

nav.scroll1 a {
    color: #000000;
    background-image: linear-gradient(to right, #266bec, #57c0e3);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s ease;
}

nav.scroll1 a:hover {
    background-size: 100% 2px;
}

nav.scroll1 a.active {
    color:#266bec;
    background-size: 100% 2px;
}

nav.scroll2 {
    background-color: #ebebebfe;
    color: #ffffff;
    padding: 10px !important;
    transition: padding .5s ease-out;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.4);
}

nav.scroll2 a {
    color: #000000;
    background-image: linear-gradient(to right, #266bec, #57c0e3);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s ease;
}

nav.scroll2 a:hover {
    background-size: 100% 2px;
}

nav.scroll2 a.active {
    color:#266bec;
    background-size: 100% 2px;
}

@media screen and (max-width: 800px) {
    nav {
        background-color: #ebebebfe;
        transition: height 0.3s ease-out;
        -webkit-box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.4);
        box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.4);
    }

    nav a {
        margin-top: 40px;
        color: #000000;
    }

    nav.scroll2 {
        padding-top: 30px !important; 
        padding-bottom: 20px !important; 
        padding-left: 70px;
    }

}